<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - DiscSim</title>
      {% else %}
      <title>Welcome to DiscSim</title>
      {% endif %}
    </head>
    <body>
        <div>DiscSim: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Sign in</a>
            <a href="{{ url_for('sample_size') }}">Sample size</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>