{% extends "base.html" %}
{% block content %}
<h1>Calculate required sample size</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.threshold.label }} <br>
        {{ form.threshold (size=32) }}
        {% for error in form.threshold.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>
    <p>
        {{ form.accuracy.label }} <br>
        {{ form.accuracy (size=32) }}
        {% for error in form.accuracy.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>
    <p>
        {{ form.confidence.label }} <br>
        {{ form.confidence (size=32) }}
        {% for error in form.confidence.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>
    <p>
        {{ form.tolerance.label }} <br>
        {{ form.tolerance (size=32) }}
        {% for error in form.confidence.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>
    <p>
        {{ form.n_high.label }} <br>
        {{ form.n_high (size=32) }}
        {% for error in form.confidence.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>
    <p>
        {{ form.n_low.label }} <br>
        {{ form.n_low (size=32) }}
        {% for error in form.confidence.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>
    <p>
        {{ form.generate_plot.label }} <br>
        {{ form.generate_plot (size=32) }}
        {% for error in form.confidence.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>
    <p> {{ form.submit() }} </p>
</form>
<div>
{% if message %}
    <p>{{ message }}</p>
{% endif %}
{% if n_high %}
    <p>{{ n_high }} samples needed to correctly classify subordinates </p>
{% endif %}
{% if fig_path %}
    <img src="{{ url_for('sample_size_schematic', image_path=fig_path) }}" alt="Image">
{% endif %}
</div>

{% endblock %}